@model HomePageViewMode

@{
    ViewData["Title"] = "Home Page";


}

@section Styles {
    <link rel="stylesheet" href="~/lib/chartist/chartist.min.css" />
    <link rel="stylesheet" href="~/lib/chartjs/Chart.min.css" />
}

@section Scripts {
    <script type="text/javascript" src="~/lib/chartjs/Chart.min.js"></script>

    <script>
        var ctx = document.getElementById('js-chart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [@Html.Raw(String.Join(",", Model.SelectedCountryCases.Select(item => $"'{item.Date.ToString("dd MMM")}'")))],
                datasets: [{
                    label: 'Test',
                    data: [@String.Join(",", Model.SelectedCountryCases.Select(item => item.ConfirmedCases.ToString()))],
                    backgroundColor: ['#247BA0']
                },
                {
                    label: 'Test 2',
                    data: [@String.Join(",", Model.SelectedCountryCases.Select(item => item.DeathCases.ToString()))],
                    backgroundColor: ['#70C1B3']
                }]
            }
        });
    </script>
}

<div class="text-center">
    <h1 class="display-4">@Model.SelectedCountry</h1>
</div>


<div>

    <table class="table">
        <tr>
            <td>Country</td>
            <td>Confirmed</td>
            <td>Recovered</td>
            <td>Deaths</td>
        </tr>
        <tr>
            <td>Germany</td>
            <td>
                @Model.GermanyLastUpdate.ConfirmedCases
            </td>
            <td>
                @Model.GermanyLastUpdate.RecoveredCases
            </td>
            <td>
                @Model.GermanyLastUpdate.DeathCases
            </td>
        </tr>
        <tr>
            <td>Bulgaria</td>
            <td>
                @Model.BulgariaLastUpdate.ConfirmedCases
            </td>
            <td>
                @Model.BulgariaLastUpdate.RecoveredCases
            </td>
            <td>
                @Model.BulgariaLastUpdate.DeathCases
            </td>
        </tr>
        <tr>
            <td>Belgium</td>
            <td>
                @Model.BelgiumLastUpdate.ConfirmedCases
            </td>
            <td>
                @Model.BelgiumLastUpdate.RecoveredCases
            </td>
            <td>
                @Model.BelgiumLastUpdate.DeathCases
            </td>
        </tr>
    </table>
</div>

<section>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.DropDownListFor(model => model.SelectedCountry, Model.CountryList.Select(item => new SelectListItem(item, item, item.Equals(Model.SelectedCountry))));

        <input type="submit" value="Load" />
    }

</section>

@*<div class="chart">

    </div>*@

<canvas id="js-chart" width="1000" height="500"></canvas>